In [1]:
import pandas as pd

In [2]:
import numpy as np

In [17]:
df = pd.read_excel('naked-thriving.xlsx', index_col=None, header=1)

In [20]:
df = df['Page']

In [23]:
df = df.to_frame()

In [24]:
print(df)

                                                  Page
0             /special-offer-renew-ac-nr-flash-tst/?T=
1    /special-offer-free-travel-size-rejuvenate-ac-...
2                  /special-offer-revive-ac-nr/?T=&T)=
3                       /special-offer-renew-ac-nr/?T=
4    /special-offer-free-travel-size-general-ac-nr/?T=
..                                                 ...
326  /special-offer-renew-ac-nr-flash-rt-vrnt-2/?T=...
327  /special-offer-renew-ac-nr-flash-tst/?T:OVERRI...
328             /special-offer-renew-ac-nr-healthy/?T=
329  /special-offer-renew-listacle-ac-nr/?T=&T+5+Re...
330  /special-offer-revive-ac-nr/?T=&external_brows...

[331 rows x 1 columns]

In [74]:
df.head()

                                                Page
0           /special-offer-renew-ac-nr-flash-tst/?T=
1  /special-offer-free-travel-size-rejuvenate-ac-...
2                /special-offer-revive-ac-nr/?T=&T)=
3                     /special-offer-renew-ac-nr/?T=
4  /special-offer-free-travel-size-general-ac-nr/?T=

In [75]:
params_only = []
for i in df.index:
    row = df['Page'][i]
    params = row[row.find('?')+1:]
    params_only.append({params})

In [77]:
params_only = pd.DataFrame(params_only)
# adding column name to the respective columns
params_only.columns =['Params']

In [78]:
params_only.head()

   Params
0      T=
1  T=&T)=
2  T=&T)=
3      T=
4      T=

In [79]:
params_only.shape[0]

331

In [80]:
params_only = params_only.drop_duplicates()
params_only.shape[0]

199

In [82]:
# print first 10 rows
params_only.head(10)

                                               Params
0                                                  T=
1                                              T=&T)=
5   T=&T+Listicle+Headline+variations+|+Pre-Sell+P...
6                      quantity=1&variation_id=375436
11  +benefits_dry+skin_glow_prospecting_no+creator...
12                     quantity=1&variation_id=291277
13                                      Affid=trvl&T=
14                                        T:OVERRIDE=
16                     quantity=1&variation_id=262562
18                                           rating=1

In [54]:
all_sep_params = []
for i in params_only.index:
    row = params_only['Params'][i]
    sep_params = row.split("&")
    length = len(sep_params)
    for x,n in enumerate(sep_params):
        all_sep_params.append({sep_params[x]})

In [56]:
all_sep_params = pd.DataFrame(all_sep_params)

In [58]:
all_sep_params.shape[0]

366

In [83]:
all_sep_params = all_sep_params.drop_duplicates()
all_sep_params.shape[0]

217

In [94]:
all_sep_params.columns =['Key Values']
all_sep_params.head(10)

                                           Key Values
0                                                  T=
2                                                 T)=
4     T+Listicle+Headline+variations+|+Pre-Sell+Page=
5                                          quantity=1
6                                 variation_id=375436
7   +benefits_dry+skin_glow_prospecting_no+creator...
8                      +benefits_HEADLINE+2_COPY+2_N=
12                                variation_id=291277
13                                         Affid=trvl
15                                        T:OVERRIDE=

In [95]:
#each row contains key value parameters
keys = []
for i in all_sep_params.index:
    row = all_sep_params['Key Values'][i]
    key_val = row.split("=")
    length = len(key_val)
    for x,n in enumerate(key_val):
        keys.append({key_val[0]})

In [96]:
keys = pd.DataFrame(keys)

In [98]:
keys.columns =['Keys']
keys.head(10)

                                             Keys
0                                               T
1                                               T
2                                              T)
3                                              T)
4  T+Listicle+Headline+variations+|+Pre-Sell+Page
5  T+Listicle+Headline+variations+|+Pre-Sell+Page
6                                        quantity
7                                        quantity
8                                    variation_id
9                                    variation_id

In [99]:
keys = keys.drop_duplicates()
keys.shape[0]

80

In [100]:
keys.head()

                                             Keys
0                                               T
2                                              T)
4  T+Listicle+Headline+variations+|+Pre-Sell+Page
6                                        quantity
8                                    variation_id

In [105]:
keys_as_list = keys.astype(str).values.flatten().tolist()

In [102]:
string = "c,__FB_PRIVATE_TRACKING__,_kx,_thumbnail_id,_wc_user_reg,_wpnonce,_x_tr_hl,_x_tr_pto,_x_tr_sl,_x_tr_tl,/,action,add-to-cart,Aff,AffID,attribute_pa_size,back,cancel_order,change_payment_method,change_subscription_to,clickid,convert_to_sub_100503,convert_to_sub_10393,convert_to_sub_137007,convert_to_sub_5076,convert_to_sub_5082,convert_to_sub_5087,convert_to_sub_5466,convert_to_sub_73701,convert_to_sub_73731,convert_to_sub_94267,convert_to_sub_94410,convert_to_sub_95019,convert_to_sub_95075,e,FB-Shop-Now,fbclid,fueid,gtm_debug,id,key,lista,mc_cid,mc_eid,moderation-hash,msclkid,order,order_id,password-reset,pay_for_order,PayerID,preview,preview_id,preview_nonce,qid,redirect,removed_item,reset-link-sent,SaS,sfn_data,sfn_trk,show-reset-form,skip_next_shipping,subscription_id,token,u,unapproved,utm_bot_source,v,wbraid,wck_rebuild_cart,wcpr_thank_you_message,wmc-currency,zrf_ticket,zx,cmpid,sub1,sub2,sub3,sub4,sub5,sub6,sub7,sub8,rtkcid,T,T),T+Listicle+Headline+variations+|+Pre-Sell+Page,quantity,variation_id,+benefits_dry+skin_glow_prospecting_no+creator_promo_isabel.reinstein-plummer_camille.lucas_canew_47+glow+image+ads+-+features+,+benefits_HEADLINE+2_COPY+2_N,Affid,T:OVERRIDE,rating,+lighting+shoot)_Headline+141_Copy+141_N,+Lighting+Shoot),verified,T Listicle Headline variations | Pre-Sell Page,external_browser_redirect,coupon,+wrinkles_rejuvenate+restorative+face+oil_prospecting_no+creator_no+promo_usman.anzal_jason.todd_caexist_119x+winning+ad+remake_HEADLINE+8_COPY+8_N,convert_to_sub_213314,exp_nt33?nt,speero_qa,T:5AM+RESTART,remove_coupon,image,post_type,p,lighting shoot)_Headline 141_Copy 141_N, Lighting Shoot),T:HP,exp_nt33,wcs_redirect,wcs_redirect_id,benefits_dry skin_glow_prospecting_no creator_promo_isabel.reinstein-plummer_camille.lucas_canew_47 glow image ads - features , benefits_HEADLINE 2_COPY 2_N,wcpr_token,convert_to_sub_81380,t+2_anti-aging_rejuvenate_prospecting_no+creator_no+promo_jason.todd,usman.anzal_jason.todd_canew_123x+problem/solution_HEADLINE+1_COPY+1_N,s,status,orderToken,aff,variation,_kx,T Listicle - PR Mentions | Pre-Sell Page,utm_mediu,fs,convert_to_sub_95077,convert_to_sub_137797,convert_to_sub_360825,crsi,cicada_org_src,cicada_org_mdm,ki,vc_editable,vc_post_id,_vcnonce,TRAVEL,externalId,T+5+Reasons+Listicle+|+Pre-Sell+Page,remove_item,ul,flow,useraction,rm,mfid,rcache,targetService4174,lite,fromLite,ulClientKey,ulClientRedirect,country.x,locale.x,NZ) (Y7diTv),MOM22,ship_now_adjust_date,wcpr_image,convert_to_sub_95078,mibextid,liveqa,t+2-week+challenge_rejuvenate+restorative+face+oil_prospecting_no+creator_no+promo_jason.todd,usman.anzal_jason.todd_caexist_138x+2+week+challenge+w/+face+oil_HEADLINE+1_COPY+1_N"

In [103]:
print(string)

c,__FB_PRIVATE_TRACKING__,_kx,_thumbnail_id,_wc_user_reg,_wpnonce,_x_tr_hl,_x_tr_pto,_x_tr_sl,_x_tr_tl,/,action,add-to-cart,Aff,AffID,attribute_pa_size,back,cancel_order,change_payment_method,change_subscription_to,clickid,convert_to_sub_100503,convert_to_sub_10393,convert_to_sub_137007,convert_to_sub_5076,convert_to_sub_5082,convert_to_sub_5087,convert_to_sub_5466,convert_to_sub_73701,convert_to_sub_73731,convert_to_sub_94267,convert_to_sub_94410,convert_to_sub_95019,convert_to_sub_95075,e,FB-Shop-Now,fbclid,fueid,gtm_debug,id,key,lista,mc_cid,mc_eid,moderation-hash,msclkid,order,order_id,password-reset,pay_for_order,PayerID,preview,preview_id,preview_nonce,qid,redirect,removed_item,reset-link-sent,SaS,sfn_data,sfn_trk,show-reset-form,skip_next_shipping,subscription_id,token,u,unapproved,utm_bot_source,v,wbraid,wck_rebuild_cart,wcpr_thank_you_message,wmc-currency,zrf_ticket,zx,cmpid,sub1,sub2,sub3,sub4,sub5,sub6,sub7,sub8,rtkcid,T,T),T+Listicle+Headline+variations+|+Pre-Sell+Page,quantity,variation_id,+benefits_dry+skin_glow_prospecting_no+creator_promo_isabel.reinstein-plummer_camille.lucas_canew_47+glow+image+ads+-+features+,+benefits_HEADLINE+2_COPY+2_N,Affid,T:OVERRIDE,rating,+lighting+shoot)_Headline+141_Copy+141_N,+Lighting+Shoot),verified,T Listicle Headline variations | Pre-Sell Page,external_browser_redirect,coupon,+wrinkles_rejuvenate+restorative+face+oil_prospecting_no+creator_no+promo_usman.anzal_jason.todd_caexist_119x+winning+ad+remake_HEADLINE+8_COPY+8_N,convert_to_sub_213314,exp_nt33?nt,speero_qa,T:5AM+RESTART,remove_coupon,image,post_type,p,lighting shoot)_Headline 141_Copy 141_N, Lighting Shoot),T:HP,exp_nt33,wcs_redirect,wcs_redirect_id,benefits_dry skin_glow_prospecting_no creator_promo_isabel.reinstein-plummer_camille.lucas_canew_47 glow image ads - features , benefits_HEADLINE 2_COPY 2_N,wcpr_token,convert_to_sub_81380,t+2_anti-aging_rejuvenate_prospecting_no+creator_no+promo_jason.todd,usman.anzal_jason.todd_canew_123x+problem/solution_HEADLINE+1_COPY+1_N,s,status,orderToken,aff,variation,_kx,T Listicle - PR Mentions | Pre-Sell Page,utm_mediu,fs,convert_to_sub_95077,convert_to_sub_137797,convert_to_sub_360825,crsi,cicada_org_src,cicada_org_mdm,ki,vc_editable,vc_post_id,_vcnonce,TRAVEL,externalId,T+5+Reasons+Listicle+|+Pre-Sell+Page,remove_item,ul,flow,useraction,rm,mfid,rcache,targetService4174,lite,fromLite,ulClientKey,ulClientRedirect,country.x,locale.x,NZ) (Y7diTv),MOM22,ship_now_adjust_date,wcpr_image,convert_to_sub_95078,mibextid,liveqa,t+2-week+challenge_rejuvenate+restorative+face+oil_prospecting_no+creator_no+promo_jason.todd,usman.anzal_jason.todd_caexist_138x+2+week+challenge+w/+face+oil_HEADLINE+1_COPY+1_N

In [104]:
len(string)

2688